<div class="jumbotron">
  <h1>Personal Finances App</h1>
  <p>
    A financial app to manage all your earnings and expenses
  </p>
</div>
<p *ngIf="processing">Processing...</p>
<div class="card">
  <div class="card-body">
    <div class="form-group">
      <label for="email">E-mail</label>
      <input id="email" type="email" class="form-control" [(ngModel)]="user.email" [disabled]="processing">
    </div>
    <div class="form-group">
      <label for="password">Password</label>
      <input id="password" type="password" class="form-control" [(ngModel)]="user.password" [disabled]="processing">
    </div>
    <button (click)="submit()" class="btn btn-primary" [disabled]="processing">Log In</button>
  </div>
</div>
