<h2>Edit transaction</h2>
<hr>
<div class="card" *ngIf="transaction">
  <div class="card-body">
    <div class="form-check">
      <input id="expenseOption" name="transactionType" [value]="'expense'" type="radio" class="form-check-input" [(ngModel)]="transaction.transaction_type" [disabled]="processing">
      <label for="expenseOption" class="form-check-label">Expense</label>
    </div>
    <div class="form-check">
      <input id="earningOption" name="transactionType" [value]="'earning'" type="radio" class="form-check-input" [(ngModel)]="transaction.transaction_type" [disabled]="processing">
      <label for="earningOption" class="form-check-label">Earning</label>
    </div>
    <div class="form-group">
      <label for="description">Description</label>
      <input id="description" type="text" class="form-control" [(ngModel)]="transaction.description">
    </div>
    <div class="form-group">
      <label for="amount">Amount</label>
      <input id="amount" type="text" class="form-control" [(ngModel)]="transaction.amount">
    </div>
    <button (click)="submit()" class="btn btn-primary" [disabled]="processing">Save</button>
    <a class="btn btn-default" routerLink="/transactions">Cancel</a>
  </div>
</div>
