<h2>Transactions List</h2>
<hr>
<div class="mb-3 float-right">
  <a class="btn btn-success " routerLink="/transactions/create">Register new</a>
</div>
<div>
  <p *ngIf="status">{{ status }}</p>
</div>
<table class="table table-bordered table-striped table-hover" *ngIf="transactions.length > 0">
  <thead>
  <tr>
    <th scope="col" class="text-left" style="width:65%; cursor: pointer;" (click)="toggleOrdering('description')">Description</th>
    <th scope="col" class="text-right" style="width:20%; cursor: pointer;" (click)="toggleOrdering('amount')">Amount</th>
    <th style="width: 15%"></th>
  </tr>
  </thead>
  <tbody>
  <tr *ngFor="let transaction of transactions">
    <td class="text-left">{{ transaction.description }}</td>
    <td class="text-right">{{ transaction.formatted_amount }}</td>
    <td class="text-center">
      <a routerLink="/transactions/edit/{{ transaction.uuid }}" class="btn btn-info" style="margin-right: 10px"><i class="fa fa-edit"></i></a>
      <button (click)="deleteTransaction(transaction)" class="btn btn-danger"><i class="fa fa-remove"></i></button>
    </td>
  </tr>
  </tbody>
  <tfoot>
    <tr>
      <th class="text-left">Balance</th>
      <th class="text-right">{{ balance }}</th>
      <th></th>
    </tr>
  </tfoot>
</table>
